In [4]:
# Homework: List and Tuple Exercises

## 1. Create and Access List Elements
#Create a list containing five different fruits and print the third fruit.

fruits = ['apple','banana','grape','qiwi','apricot']
print(fruits[2])

grape

In [7]:
## 2. Concatenate Two Lists
#Create two lists of numbers and concatenate them into a single list.
numberfirst = [1,2,3,4,5]
numbersecond = [6,7,8,9,10]
print(numberfirst+numbersecond)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
## 3. Extract Elements from a List
#Given a list of numbers, extract the first, middle, and last elements and store them in a new list.
numberlist = [0,1,2,3,4,5,19,7,8,9,10,11,12]

firstn = numberlist[0]
middlen = numberlist[int(len(numberlist)/2)]
lastn = numberlist[-1]

newlist = []
newlist.append(firstn)
newlist.append(middlen)
newlist.append(lastn)
print(newlist)

[0, 19, 12]

In [25]:
## 4. Convert List to Tuple
#Create a list of your five favorite movies and convert it into a tuple.
movieslist = ["Titanic","Avatar","Avengers","Taken","John Wick"]
print(movieslist)
movieslist_tuple = tuple(movieslist)
print(type(movieslist_tuple))

['Titanic', 'Avatar', 'Avengers', 'Taken', 'John Wick']
<class 'tuple'>

In [29]:
## 5. Check Element in a List
#Given a list of cities, check if "Paris" is in the list and print the result.
cities = ["New York", "London", "Tokyo", "Paris", "Sydney"]
if "Paris" in cities:
    print("Paris is in the list")
else:
    print("Paris is not in the list")

Paris is in the list

In [31]:
## 6. Duplicate a List Without Using Loops
#Create a list of numbers and duplicate it without using loops.
numbers1 = [5,4,8,63,4,3,52,585,56,245,78]
numbers1_dup = numbers1 * 2
print(numbers1)
print(numbers1_dup)

[5, 4, 8, 63, 4, 3, 52, 585, 56, 245, 78]
[5, 4, 8, 63, 4, 3, 52, 585, 56, 245, 78, 5, 4, 8, 63, 4, 3, 52, 585, 56, 245, 78]

In [32]:
## 7. Swap First and Last Elements of a List
#Given a list of numbers, swap the first and last elements.
cities = ["New York", "London", "Tokyo", "Paris", "Sydney"]
firste = cities[0]
laste = cities[-1]
print(cities)
cities[0] = laste
cities[-1] = firste
print(cities)

['New York', 'London', 'Tokyo', 'Paris', 'Sydney']
['Sydney', 'London', 'Tokyo', 'Paris', 'New York']

In [4]:
## 8. Slice a Tuple
#Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.
tuple_num = tuple([0,1,2,3,4,5,6,7,8,9,10])
print(type(tuple_num))
tuple_num[2:7]

<class 'tuple'>

(2, 3, 4, 5, 6)

In [8]:
## 9. Count Occurrences in a List
#Create a list of colors and count how many times "blue" appears in the list.
colors = ["red","blue","yellow","green","green","yellow","blue","blue","red","orange"]
colors.count("blue")

3

In [ ]:
## 10. Find the Index of an Element in a Tuple
#Given a tuple of animals, find the index of "lion".
animals_tuple = tuple(["horse","cow","goat","dog","cat","tiger","lion","snake"])
animals_tuple.index("lion")

6

In [14]:
## 11. Merge Two Tuples
#Create two tuples of numbers and merge them into a single tuple.
num_1 = tuple([1,2,4,5,8,2,1,3,47,6,89,65,3,2])
num_2 = tuple([4,56,78,2,53,6849,456,8623,789,456,79,1,4,56,6,20])
merged_num = tuple(num_1+num_2)
print(merged_num)

<class 'tuple'>
(1, 2, 4, 5, 8, 2, 1, 3, 47, 6, 89, 65, 3, 2, 4, 56, 78, 2, 53, 6849, 456, 8623, 789, 456, 79, 1, 4, 56, 6, 20)

In [17]:
## 12. Find the Length of a List and Tuple
#Given a list and a tuple, find and print their lengths.
list_1 = [8,9,2,7,2,789,456,132,14,28,39]
tuple_1 = tuple([8,9,2,7,2,789,456,132,14,28,39])
print(len(list_1))
print(len(tuple_1))

11
11

In [ ]:
## 13. Convert Tuple to List
#Create a tuple of five numbers and convert it into a list.
tuple_list = tuple([978,85,651,2545,923])
numbers_tuple = list(tuple_list)

<class 'tuple'>
<class 'list'>
[978, 85, 651, 2545, 923]
(978, 85, 651, 2545, 923)

In [21]:
## 14. Find Maximum and Minimum in a Tuple
#Given a tuple of numbers, find and print the maximum and minimum values.
tuple_numbers = tuple([852,154,312,789,52,123])
print(max(tuple_numbers))
print(min(tuple_numbers))

852
52

In [26]:
## 15. Reverse a Tuple
#Create a tuple of words and print it in reverse order.
word_tuple = tuple(["car","house","school","computer"])
word_tuple[::-1]

('computer', 'school', 'house', 'car')